/* --------------- Flex disposition --------------- */
/* In rows */
/* In columns */
/* --------------- Responsive --------------- */
/* Above a given breakpoint */
/* Between two given breakpoints */
/* Under a given breakpoint */
/* --------------- Color chart --------------- */
/* --------------- Breakpoints --------------- */
/* --------------- Sizes --------------- */
html, .sorting_select {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-weight: 400;
}

.photographer_card_name {
  font-size: 36px;
}

.presentation_photographer_name {
  font-size: 64px;
}

@media screen and (max-width: 767px) {
  .photographers_title h1 {
    font-size: 15px;
  }
}

.photographer_card_location {
  font-size: 13px;
}

.presentation_photographer_location, .gallery_element_legend_title, .presentation_bottom_bar h2 {
  font-size: 24px;
}

.photographer_card_description {
  font-size: 10px;
}

.presentation_photographer_description, .presentation_contact h3, .sorting, .sorting_select {
  font-size: 18px;
}

.photographer_card_price {
  font-size: 9px;
}

.photographer_card_tags, nav {
  font-size: 12px;
}

.presentation_photographer_tags {
  font-size: 18px;
}

.gallery_element_legend_likes_number {
  font-size: 16px;
}

.sorting label {
  font-weight: 500;
}

.header_logo {
  width: 250px;
  height: 70px;
  padding: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header_logo {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .header_logo {
    width: 125px;
    height: 40px;
    padding: 25px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav {
    width: 90%;
    align-self: center;
    flex-wrap: wrap;
  }
}
.nav span {
  color: #901C1C;
  border: 0.5px solid #C4C4C4;
  border-radius: 20px;
  margin: 2px;
  padding: 2px;
  padding-left: 7px;
  padding-right: 7px;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

html {
  min-height: 100%;
}

body {
  height: 100vh;
  /* To remove the blank space under footer */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 0px;
}

.footer {
  padding: 30px;
}

.top_container {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
@media screen and (max-width: 1439px) {
  .top_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
}

.photographers_title {
  height: 70px;
  margin: 0px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #901C1C;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .photographers_title {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .photographers_title {
    height: 40px;
    padding: 25px;
  }
}
.photographers_title h1 {
  margin: 0px;
}

.photographers_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}

.photographer_card {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .photographer_card {
    width: 44%;
  }
}
@media screen and (max-width: 767px) {
  .photographer_card {
    width: 100%;
  }
}
.photographer_card_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photographer_card_link:hover .photographer_card_profilepicture {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.photographer_card_link:hover .photographer_card_name {
  color: #901C1C;
}
.photographer_card_profilepicture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 20px;
  border-radius: 100px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  transition: box-shadow 300ms;
}
.photographer_card_name {
  color: #D3573C;
  transition: color 300ms;
  margin: 2px;
}
.photographer_card_location {
  color: #901C1C;
  margin: 2px;
}
.photographer_card_description {
  color: #525252;
  margin: 2px;
}
.photographer_card_price {
  color: #757575;
  margin: 2px;
  margin-bottom: 5px;
}
.photographer_card_tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.photographer_card_tags span {
  color: #901C1C;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  margin: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.presentation {
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: #FAFAFA;
}
.presentation_photographer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.presentation_photographer_name {
  color: #D3573C;
  transition: color 300ms;
  margin: 2px;
}
.presentation_photographer_location {
  color: #901C1C;
  margin: 2px;
}
.presentation_photographer_description {
  color: #525252;
  margin: 2px;
}
.presentation_photographer_tags {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
}
.presentation_photographer_tags span {
  color: #901C1C;
  border: 0.5px solid #C4C4C4;
  border-radius: 12px;
  margin: 3px;
  padding-left: 6px;
  padding-right: 6px;
}
.presentation_contact {
  height: 68px;
  padding: 20px 15px 20px 15px;
  color: #FFFFFF;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  position: relative;
  top: 10px;
  right: 100px;
}
.presentation_contact h3 {
  margin: 0px;
}
.presentation_contact:hover {
  background-color: #DB8876;
  color: #000000;
}
.presentation_profilepicture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 20px;
  border-radius: 100px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  transition: box-shadow 300ms;
}
.presentation_bottom_bar {
  width: 310px;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  bottom: 0px;
  right: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #DB8876;
  color: #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.presentation_bottom_bar_likes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.presentation_bottom_bar_likes_number {
  margin-right: 10px;
}
.presentation_bottom_bar_likes_heart {
  width: 18px;
}

.sorting {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sorting label {
  color: #000000;
  margin-right: 30px;
}
.sorting_select {
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #901C1C;
  color: #FFFFFF;
}

.gallery {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.gallery_element {
  padding: 20px;
}
.gallery_element_picture {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.gallery_element_legend {
  width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery_element_legend_title {
  margin: 0px;
  color: #901C1C;
}
.gallery_element_legend_likes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery_element_legend_likes_number {
  margin: 0px;
  margin-right: 10px;
  color: #000000;
}
.gallery_element_legend_likes_heart {
  color: #901C1C;
}

/*# sourceMappingURL=styles.css.map */
