body
{
    background-color: $background-grey;
    max-width: 1440px;
    @include flex-row(center, stretch);
}

.header
{
    &_logo
    {
        padding: 50px;
        width: 350px;
        margin-left: 50px;
    }
}