a, a:visited
{
    color: inherit;
    text-decoration: none;
}

html
{
    min-height: 100%;
}

body
{
    height: 100vh;                               /* To remove the blank space under footer */
    @include flex-col(space-between, stretch);
    margin: 0px;
}