.header
{
    &_link_logo
    {
        width: 250px;
        height: 70px;
        padding: 50px;

        @include media-between("tablet-min", "desktop-max")
        {
            padding-bottom: 25px;
        }

        @include media-under("mobile-max")
        {
            width: 125px;
            height: 40px;
            padding: 25px;
        }

        &--photographerpage
        {
            @include media-under("mobile-max")
            {
                padding-bottom: 0px;
            }
        }
    }
}