.nav
{
    @include flex-row(center, center);
    @include media-under("mobile-max")
    {
        width: 90%;
        align-self: center;
        flex-wrap: wrap;
    }

    &_tag
    {
        background-color: "#FFFFFF";
        color: $primary-color;
        border: 0.5px solid $border-grey;
        border-radius: 20px;
        margin: 2px;
        padding: 2px;
        padding-left: 7px;
        padding-right: 7px;
        transition: all 300ms;
        cursor: pointer;

        &--active
        {
            background-color: $primary-color;
            color: #FFFFFF;
        }

        &:hover
        {
            background-color: $primary-color;
            color: #FFFFFF;
        }

        
    }
}