html, .sorting_select, #message
{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body
{
    font-weight: 400;
}

// h1

.photographer_card_name
{
    font-size: 36px;
}

.presentation_photographer_name
{
    font-size: 64px;
    @include media-under("tablet-max")
    {
        font-size: 36px;
    }
}

.photographers_title h1
{
    @include media-under("mobile-max")
    {
        font-size: 15px;
    }
}

// h2

.photographer_card_location
{
    font-size: 13px;
}

.presentation_photographer_location, .gallery_element_legend_title, .bottom_bar h2
{
    font-size: 24px;
    @include media-under("tablet-max")
    {
        font-size: 18px;
    }
}

// h3

.photographer_card_description
{
    font-size: 10px;
}

.presentation_photographer_description, .sorting, .sorting_select
{
    font-size: 18px;
    @include media-under("tablet-max")
    {
        font-size: 12px;
    }
}

.presentation_contact h3
{
    font-size: 18px;
    @include media-under("tablet-max")
    {
        font-size: 16px;
    }
}

// h4

.photographer_card_price
{
    font-size: 9px;
}

// Others

.photographer_card_tags, nav
{
    font-size: 12px;
}

.presentation_photographer_tags
{
    font-size: 18px;
    @include media-under("tablet-max")
    {
        font-size: 12px;
    }
}

.gallery_element_legend_likes_number
{
    font-size: 22px;
    @include media-under("tablet-max")
    {
        font-size: 18px;
    }
}

.contact_text p
{
    font-size: 56px;
    @include media-under("tablet-max")
    {
        font-size: 36px;
    }
}

.contact_form_label
{
    font-size: 26px;
    @include media-under("tablet-max")
    {
        font-size: 18px;
    }
}

.contact_submit
{
    font-size: 16px;
    @include media-under("tablet-max")
    {
        font-size: 14px;
    }
}

.sorting label
{
    font-weight: 500;
}