.header_nav_container
{
    width: 65%;
    @include flex-row(space-between, stretch);

    @include media-under("desktop-max")
    {
        width: 100%;
        @include flex-col(space-between, stretch);
        flex-wrap: wrap;
    }
}

.nav
{
    @include flex-row(center, center);
    @include media-under("mobile-max")
    {
        width: 90%;
        align-self: center;
        flex-wrap: wrap;
    }

    & span
    {
        color: $primary-color;
        border: 0.5px solid $border-grey;
        border-radius: 20px;
        margin: 2px;
        padding: 2px;
        padding-left: 7px;
        padding-right: 7px;
    }
}

.photographers_title
{
    height: 70px;
    margin: 0px;
    padding: 50px;
    @include media-between("tablet-min", "desktop-max")
    {
        padding-bottom: 25px;
    }
    @include media-under("mobile-max")
    {
        height: 40px;
        padding: 25px;
    }

    @include flex-row(center, center);
    position: absolute;
    top: 0px;
    right: 0px;
    color: $primary-color;
    & h1
    {
        margin: 0px;
    }
}

.photographers_list
{
    @include flex-row(space-between, space-between);
    flex-wrap: wrap;
}

.photographer_card
{
    width: 30%;
    @include media-between("tablet-min", "desktop-max") {
        width: 44%;
    }
    @include media-under("mobile-max") {
        width: 100%;
    }
    padding: 20px;
    @include flex-col(center, center);

    &_link
    {
        @include flex-col(center, center);
        &:hover
        {
            .photographer_card_profilepicture
            {
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
            }
            .photographer_card_name
            {
                color: $primary-color;
            }
        }
    }

    &_profilepicture
    {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin: 20px;
        border-radius: 100px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        transition: box-shadow 300ms;
    }

    &_name
    {
        color: $secondary-color;
        transition: color 300ms;
        margin: 2px;
    }

    &_location
    {
        color: $primary-color;
        margin: 2px;
    }

    &_description
    {
        color: $text-grey;
        margin: 2px;
    }

    &_price
    {
        color: $price-grey;
        margin: 2px;
        margin-bottom: 5px;
    }

    &_tags
    {
        @include flex-row(center, center);
    }

    &_tags span
    {
        color: $primary-color;
        border: 0.5px solid $border-grey;
        border-radius: 11px;
        margin: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }
}