// --------- PRESENTATION ---------

.presentation
{
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
    @include flex-row(space-between, stretch);
    background-color: $background-grey;
    @include media-under("tablet-max")
    {
        padding: 30px;
    }
    @include media-under("mobile-max")
    {
        margin: 0px;
        background-color: #FFFFFF;
    }

    &_photographer
    {
        @include flex-col(space-between, stretch);
        @include media-under("mobile-max")
        {
            width: calc(100% - 150px);
        }

        &_name
        {
            color: $secondary-color;
            transition: color 300ms;
            margin: 2px;
        }

        &_location
        {
            color: $primary-color;
            margin: 2px;
        }

        &_description
        {
            color: $text-grey;
            margin: 2px;
        }

        &_tags
        {
            @include flex-row(normal, center);
            flex-wrap: wrap;

            & span
            {
                color: $primary-color;
                border: 0.5px solid $border-grey;
                border-radius: 12px;
                margin: 3px;
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }

    &_contact
    {
        color: #FFFFFF;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        transition: all 300ms;
        cursor: pointer;
        margin: 0px;

        @include media-above("largedesktop-min")
        {
            width: 170px;
            height: 68px;
            padding: 20px;
            position: relative;
            top: 10px;
            right: 100px;
        }
        @include media-under("desktop-max")
        {
            width: 150px;
            padding: 10px;
            position: fixed;
            left: calc(50vw - 85px);
            bottom: 55px;
        }

        &:hover
        {
            background-color: $tertiary-color;
            color: #000000;
            transform: scale(1.10);
        }
    }

    &_profilepicture
    {
        width: 200px;
        height: 200px;
        @include media-between("tablet-min", "desktop-max")
        {
            width: 150px;
            height: 150px;
        }
        @include media-under("mobile-max")
        {
            width: 100px;
            height: 100px;
        }
        object-fit: cover;
        margin: 20px;
        border-radius: 100px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        transition: box-shadow 300ms;
    }
}


// --------- SORTING ---------

.sorting
{
    width: 100%;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 0px;
    @include media-under("mobile-max")
    {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0px;
    }
    @include flex-row(flex-start, center);

    & label
    {
        color: #000000;
        margin-right: 30px;
    }

    &_wrapper
    {
        position: relative;
    }

    &_input
    {
        position: absolute;
    }

    &_button
    {
        width: 130px;
        height: 50px;
        @include media-under("tablet-max")
        {
            height: 40px;
        }
        padding: 0px 15px;
        border-radius: 5px;
        background: $primary-color;
        @include flex-row(space-between, center);
        position: relative;

        &_text
        {
            padding: 0px 5px;
            color: #FFFFFF;
        }
    
        &_icon
        {
            position: relative;
            width: 40px;
            height: 40px;
            cursor: pointer;

            &:before, &:after
            {
                width: 3px;
                height: 10px;
                border-radius: 1px;
                background: #FFFFFF;
                content: " ";
                position: absolute;
                top: 15px;
                left: 30px;
                z-index: 1;
            }
        
            &:before
            {
                transform: translate(-5px, 0) rotate(-45deg);
            }
        
            &:after
            {
                transform: translate(0, 0) rotate(45deg);
            }
        }
    }

    &_menu
    {
        width: 160px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px;

        &_list
        {
            width: 140px;
            margin: 0px;
            padding: 0px 10px;
            background: $primary-color;
            transform: translateY(-100%);
            list-style: none;
            transition: all 100ms ease-in-out;
        }

        & li
        {
            display: flex;
            align-items: center;
            width: inherit;
            padding: 0;
        }

        & li > a
        {
            display: flex;
            align-items: center;
            width: inherit;
            height: 40px;
            @include media-under("tablet-max")
            {
                height: 30px;
            }
            padding: 5px 10px;
            color: #FFFFFF;
            cursor: pointer;
            transition: all 100ms ease-in-out;
        }

        & li:not(:last-child)
        {
            border-bottom: 1px solid #FFFFFF;
        }

        & li > a:hover
        {
            background: $secondary-color;
        }
    }
}

.sorting_input:checked ~ .sorting_menu
{
    z-index: 1;
}

.sorting_input:checked ~ .sorting_menu ul
{
    transform: translateY(0);
}

.sorting_input:checked ~ .sorting_button .sorting_button_icon::before
{
    transform: translate(-5px, 0) rotate(45deg);
    z-index: 2;
}

.sorting_input:checked ~ .sorting_button .sorting_button_icon::after
{
    transform: translate(0, 0) rotate(-45deg);
    z-index: 2;
}


// --------- GALLERY ---------

.gallery
{
    padding: 30px;
    @include media-under("mobile-max")
    {
        padding: 20px;
    }
    @include flex-row(space-between, stretch);
    flex-wrap: wrap;

    &_element
    {
        padding: 20px;
        width: 350px;
        @include media-between("tablet-min", "desktop-max")
        {
            width: 44%;
        }
        @include media-under("mobile-max")
        {
            width: 100%;
            padding: 10px;
        }
        @include flex-col(start, center);

        &_picture
        {
            width: 100%;
            height: 300px;
            transition: all 300ms;
            cursor: pointer;
            @include media-under("mobile-max")
            {
                height: 190px;
            }

            &:hover
            {
                transform: scale(1.04);
            }

            & *
            {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }

        &_legend
        {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            @include flex-row(space-between, flex-start);
            color: $primary-color;

            &_title
            {
                margin: 0px;
            }

            &_likes
            {
                padding-top: 2px;
                @include flex-row(space-between, center);

                &_number
                {
                    margin: 0px;
                    margin-right: 10px;
                }

                &_heart
                {
                    transition: all 200ms;
                    cursor: pointer;

                    &:hover
                    {
                        transform: scale(1.3);
                    }
                }
            }
        }

        &_date
        {
            display: none;
        }
    }
}


// --------- BOTTOM BAR ---------

.bottom_bar
{
    width: 310px;
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
    @include media-under("tablet-max")
    {
        width: 200px;
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    position: fixed;
    bottom: 0px;
    right: 60px;
    @include media-under("desktop-max")
    {
        position: static;
    }
    @include flex-row(space-between, center);
    background-color: $tertiary-color;
    color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &_likes
    {
        @include flex-row(space-between, center);

        &_number
        {
            margin-right: 10px;
        }

        &_heart
        {
            width: 18px;
        }
    }
}