.presentation
{
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
    @include flex-row(space-between, stretch);
    background-color: $background-grey;

    &_photographer
    {
        @include flex-col(space-between, stretch);

        &_name
        {
            color: $secondary-color;
            transition: color 300ms;
            margin: 2px;
        }

        &_location
        {
            color: $primary-color;
            margin: 2px;
        }

        &_description
        {
            color: $text-grey;
            margin: 2px;
        }

        &_tags
        {
            @include flex-row(normal, center);

            & span     // !!!!!!! METTRE EN GRAS
            {
                color: $primary-color;
                border: 0.5px solid $border-grey;
                border-radius: 12px;
                margin: 3px;
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }

    &_contact
    {
        height: 68px;
        padding: 20px 15px 20px 15px;
        color: #FFFFFF;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        position: relative;
        top: 10px;
        right: 100px;       // !!!!!! GÉRER LE PROBLÈME DE SUPERPOSITION LORS DU RESPONSIVE

        & h3
        {
            margin: 0px;
        }

        &:hover
        {
            background-color: $tertiary-color;
            color: #000000;
        }
    }

    &_profilepicture
    {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin: 20px;
        border-radius: 100px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        transition: box-shadow 300ms;
    }

    &_bottom_bar
    {
        width: 310px;
        height: 70px;
        padding-left: 30px;
        padding-right: 30px;
        position: fixed;
        bottom: 0px;
        right: 130px;
        @include flex-row(space-between, center);
        background-color: $tertiary-color;
        color: #000000;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        &_likes
        {
            @include flex-row(space-between, center);

            &_number
            {
                margin-right: 10px;
            }

            &_heart
            {
                width: 18px;
            }
        }
        //&_price
    }
}

.sorting
{
    width: 100%;
    padding: 50px;
    @include flex-row(flex-start, center);

    & label     // !!!!!!! METTRE EN GRAS
    {
        color: #000000;
        margin-right: 30px;
    }

    &_select
    {
        height: 50px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: $primary-color;
        color: #FFFFFF;
    }
}

.gallery
{
    margin: 30px;
    @include flex-row(space-between, stretch);
    flex-wrap: wrap;

    &_element
    {
        padding: 20px;

        &_picture
        {
            width: 350px;
            height: 300px;
            object-fit: cover;
            border-radius: 5px;
        }

        &_legend
        {
            width: 350px;
            padding-top: 10px;
            padding-bottom: 10px;
            @include flex-row(space-between, center);

            &_title
            {
                margin: 0px;
                color: $primary-color;
            }

            &_likes
            {
                @include flex-row(space-between, center);

                &_number
                {
                    margin: 0px;
                    margin-right: 10px;
                    color: #000000;
                }

                &_heart
                {
                    color: $primary-color;
                }
            }
        }
    }
}